@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html, body {
    padding: 0px;
    margin: 0px;
    border: 0px ;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    background-color: #F2F1EC;
    font-family: "Abyssinica SIL", serif;
    font-weight: 400;
    font-style: normal;
    
}

.layout-bar {
    background-color: black;
    color: #F2F1EC;
    width: 100%;
    height: 11.388vh;
}  

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: 7.57vw;
    user-select: none;
}

h1 {
    font-size: 40px;
}
.edit_library{
    display: flex;
    gap: 30px;
    margin-right: 7.57vw;
    user-select: none   ;
}

.edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}
.edit:hover {
    transform: scale(1.1);
}

.edit p {
    margin: 0px;
    padding: 0px;
}
.edit img {
    width: 30px;
    height: 30px;
}
.icon_logo{ 
    width: 50px;
    height: 50px;
}


main {
    flex: 1;
    width: 100%;
}


#new_book_overlay {
    background-color: rgba(0, 0, 0, 0.178);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    pointer-events: auto; 
}

#new_book_modal {
    width: 28.04vw;
    height: 65.29vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.content_container{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    width: 50%;
}
#description{
    height: 10vh;
    overflow: auto;
}

.read_or_not {
    font-family: inherit;
    width: 90px;
    height: 30px;
}

.read {
    background-color: green;
}
.not_read {
    background-color: red;
}

label {
    font-family: "Abyssinica SIL", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.confirm_action {
    display: flex;
    gap: 30px;
}

.confirm_action button {
    width: 90px;
    height: 30px;
}

#library_container {
    display: grid;
    grid-template-columns: repeat(7,1fr);    
    margin: 0px 5.7vw;
    overflow: hidden;
}

.book_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;;
    justify-content: center;
    transition: transform 0.3s ease;
    gap: 10px;
}

.book {
    width: 160px;
    height: 250px;
}
.book img {
    object-fit: cover;
    display: block;
    border-radius: 5%;
    width: 160px;
    height: 250px;
    transition: transform 0.3s ease;
}
.book img:hover {
    transform: scale(1.05);
}
.book.removal-mode {
    filter: brightness(60%);
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgb(0,0,0,0.6);
}

#book_information_overlay{
    background-color: rgba(0, 0, 0, 0.178);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    pointer-events: auto; 
}
#book_information_modal {
    position: relative;
    gap: 30px;
    display: flex;
    justify-content: start;
    align-items: flex-start;

    background-color: rgb(255, 255, 255);
    width: 750px;
    height: 500px;
}
#book_information_modal img {
    align-self: center;
    margin-left: 30px;
    width: 280px;
    height: 440px;
}
#book_information {
    text-align: justify;
    margin-top: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    gap: 15px;
}

#close_button {
    
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}
#close_button::before {
    content: 'X';
    color: white;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#close_button:hover {
    background-color: rgb(37, 37, 37);
}